

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div class="inner">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- end preloader -->

        <header id="header" class="site-header header-style-1">
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="contact-info">
                                <li><i class="fa fa-phone-square"></i> Phone: +91 88500 70005</li>
                                <li><i class="fa fa-clock-o"></i> Mon - Fri: 9 am - 7 pm</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end container -->
            </div> <!-- end topbar -->
            <nav class="navbar navbar-expand-lg navigation navbar-default original">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand"><img src="/images/home/logo/ascent-porta-logo.jpg"
                                alt="ascent-porta-logo" width="170px" height="60px"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                        <button class="close-navbar"><i class="fa fa-close"></i></button>
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="about">About</a></li>
                            <li class="menu-item-has-children">
                                <a href="#">Products</a>
                                <ul class="sub-menu">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <ul>
                                                <li><a href="porta-cabin-manufacturer">Porta Cabin</a></li>
                                                <li><a href="prefabricated-structures">Prefabricated Structures</a></li>
                                                <li><a href="portable-toll-booths-manufacturer">Toll Booths</a></li>
                                                <li><a href="portable-kitchen-manufacturer">Portable Kitchen</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <ul>
                                                <li><a href="portable-office-cabin-manufacturer">Portable Office Cabin</a></li>
                                                <li><a href="portable-security-cabin-manufacturer">Security Cabin</a></li>
                                                <li><a href="portable-toilet-manufacturer">Portable Toilet</a></li>
                                                <li><a href="bunk-house-manufacturer">Bunk House</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <ul>
                                            <li><a href="portable-accommodation-cabin-manufacturer">Accomodation Cabin</a></li>
                                            <li><a href="container-homes-house-manufacturer">Container House</a></li>
                                            <li><a href="portable-homes-buildings-manufacturer">Portable Homes and Buildings</a></li>
                                            <li><a href="old-cotainer">Old Containers</a></li>
                                            <li><a href="used-shipping-container-for-sale">Used Shipping Container</a></li>
                                        </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <ul>
                                            <li><a href="portable-cabins-manufacturer">Portable Cabins</a></li>
                                            <li><a href="container-office-manufacturer-mumbai">Container Office</a></li>
                                            <li><a href="holiday-homes-manufacturer">Holiday Homes</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="portfolio">Gallery</a></li>
                            <li><a href="layouts">Layouts</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div><!-- end of nav-collapse -->
                    <div class="search-social">
                        <div class="social">
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/AscentPortaSolutions/"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&#038;fs=1&#038;su=About%20Us&#038;body=https%3A%2F%2Fwww.asprefab.com%2Fabout-us%2F&#038;ui=2&#038;tf=1"><i class="fa fa-google"></i></a></li>
                                <li><a href="http://www.linkedin.com/shareArticle?mini=true&#038;url=https%3A%2F%2Fwww.asprefab.com%2Fabout-us%2F&#038;title=About%20Us"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- end of container -->
            </nav>
        </header>