<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us | Ascent Porta Solutions</title>
    <meta name="description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <link rel="canonical" href="//www.asprefab.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portable Cabins Manufacturer in Mumbai, Maharashtra - Ascent Porta Solutions" />
    <meta property="og:description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <meta property="og:url" content="https://www.asprefab.com/" />
    <meta property="og:site_name" content="Ascent Porta Solutions" />
    <meta property="article:publisher" content="https://www.facebook.com/As-Prefab-LLP-818386148337061/" />
    <!-- / Yoast SEO plugin. -->

    <!-- Favicon and Touch Icons -->
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="shortcut icon" type="image/png">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="57x57">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="72x72">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="114x114">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="144x144">

    <!-- Icon fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/slick-theme.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


</head>

{{> navbar }}

<div class="page-wrapper">

    <!-- start page-title -->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <h2>About us</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>About us</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end page-title -->


    <!-- start about-section -->
    <section class="section-padding about-section-s5">
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 col-md-10">
                    <div class="section-title-s2">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="about-details">
                        <p>Founded in the year of 2016, Ascent Porta Solutions is one of the leading Portable cabins
                            manufacturer company in Maharashtra, India. We are the distinguished suppliers, traders, and
                            manufacturers of different types of portable cabins and structures across Maharashtra such
                            as Mumbai, Pune, Nashik, Navi Mumbai, etc.</p>
                        <h3>Quality and reliability</h3>
                        <p>Ascent Porta Solutions gives a comprehensive assortment of prefabricated structures including
                            Holidays Home, Security Cabin, Accommodation Cabin, Portale Office, portable toilets,
                            portable cabin, etc. Any order provided for any portable structure will be designed as per
                            the user requirements.</p>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="about-img">
                        <img src="/images/about/small-rooms-beach.jpg" alt="small rooms beach">
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </section>
    <!-- end about-section -->




    {{!-- projects start --}}

    <section class="fun-fact mt-5">
        <div class="container">
            <div class="row start-count">
                <div class="col col-md-3 col-sm-12">
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-handshake"></i>
                        </div>
                        <div class="info">
                            <h3 class="counter" data-count="23">00</h3>
                            <span>Ongoing Projects</span>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-sm-12">
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-presentation"></i>
                        </div>
                        <div class="info">
                            <h3 class="counter" data-count="480">00</h3>
                            <span>Cabin Delivered</span>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-sm-12">
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-team"></i>
                        </div>
                        <div class="info">
                            <h3 class="counter" data-count="100">00</h3>
                            <span>Service Provide</span>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-sm-12">
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-internet"></i>
                        </div>
                        <div class="info">
                            <h3 class="counter" data-count="100">00</h3>
                            <span>Quality Provide</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </section>
    {{!-- projects ends --}}


    <section class="section-padding">
        <div class="container">
            <div class="row news-grids">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="grid">
                        <div class="entry-body">
                            <div class="entry-header">
                                <h3>Our vision</h3>
                            </div>
                            <div class="entry-details">
                                <p>Leading in prefabricated portable structures with superior quality, prompt delivery,
                                    and
                                    exceptional service, exceeding client expectations.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="grid">
                        <div class="entry-body">
                            <div class="entry-header">
                                <h3>Our Mission</h3>
                            </div>
                            <div class="entry-details">
                                <p>Our mission is to deliver high qualities portable prefabricated structure to our
                                    esteemed
                                    clients in a dedicated span of time.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="grid">
                        <div class="entry-body">
                            <div class="entry-header">
                                <h3>Problem Solvers</h3>
                            </div>
                            <div class="entry-details">
                                <p>If any damage occurs during the transportation of a portable cabin, Our support team
                                    is
                                    always available for resolving issues on site.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="grid">
                        <div class="entry-body">
                            <div class="entry-header">
                                <h3>Customer Support</h3>
                            </div>
                            <div class="entry-details">
                                <p>Our highly experienced team is available for support in installation after-sales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- start contact-section -->
    <section class="contact-section section-padding">
        <div class="container">
            <div class="section-title-s4">
                <h2>Get a Quote Here</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="hs-responsive-embed-youtube"><iframe src="https://www.youtube.com/embed/epTCVT8444I"
                            frameborder="0" allowfullscreen=""></iframe></div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="contact-form mt-5">
                        <form method="post" id="contact-form" class="form row contact-validation-active" autocomplete="off">
                            <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                                <textarea class="form-control" placeholder="Leave Message" name="message" cols="90" rows="5"></textarea>
                            </div>
                            <div class="col col-xs-12 submit-btn">
                                <button type="submit">Submit</button>
                                <div id="loader">
                                    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                                </div>
                            </div>
                            <div class="error-handling-messages">
                                <div id="success">Thank you</div>
                                <div id="error"> Error occurred while sending email. Please try again later. </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end contact-section -->
</div>


{{> footer }}