<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Container Houses &amp; Homes Manufacturer in Mumbai, India</title>
    <meta name="description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <link rel="canonical" href="//www.asprefab.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portable Cabins Manufacturer in Mumbai, Maharashtra - Ascent Porta Solutions" />
    <meta property="og:description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <meta property="og:url" content="https://www.asprefab.com/" />
    <meta property="og:site_name" content="Ascent Porta Solutions" />
    <meta property="article:publisher" content="https://www.facebook.com/As-Prefab-LLP-818386148337061/" />
    <!-- / Yoast SEO plugin. -->

    <!-- Favicon and Touch Icons -->
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="shortcut icon" type="image/png">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="57x57">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="72x72">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="114x114">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="144x144">

    <!-- Icon fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/slick-theme.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


</head>

<body class="container-homes-house-manufacturer">

    {{> navbar }}

    <div class="page-wrapper">
        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Container House Manufacturers in Mumbai, India</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Products</li>
                            <li>container-homes-house-manufacturer</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <div class="section-padding">
            <div class="container">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title-s2">
                        <h2>Container House Manufacturers</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <img src="/images/about/small-rooms-beach.jpg" alt="small rooms beach">
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <p class="mt-2">With the hard work and sincerity of our workers and professionals, we have
                            designed these portable container houses. We have manufactured these container houses for
                            those who don’t want to build permanent homes. We make these houses as the solution for
                            problems like people doesn’t have enough money to build permanent structures on their land.
                            These houses will act as solutions. These houses are made with premium quality material to
                            keep people safe and secure. Also, their material is strong enough to handle all kinds of
                            weather conditions. We sell these container homes in India at very affordable prices so that
                            people can everyone can buy them.
                        </p>
                        <P>These houses are built on wheels so that they can be moves from one place to another easily.
                            These houses are manufactured that can be placed in parks, farms, private lands, and at more
                            locations. These can be transferred from one city to another without any additional
                            workforce. This product ensures the durability, resistance, and sturdiness to the clients.
                            The container offices are one of the best solutions for the financial and unique needs of
                            people.
                        </P>
                    </div>
                </div>
                <div class="col-lg-12">
                    <p> Due to their fantastic design, you can change or modify the container homes. Later on, you can
                        resell them as well if you don’t want to use them more.These can also be converted to many
                        creative things like a playhouse for kids, study houses, libraries, and more. You can easily
                        change or replace any module to reduce the reconstruction cost. These houses include the floor,
                        walls, ceiling, and all the things you need to live in a place. You can order with us for as big
                        or spacious houses as per your choice. We ensure that we will work as per the needs and
                        requirements of our clients.</p>
                </div>
            </div>
        </div>

        <section class="service-single-section mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="discussion-faq">
                            <div class="discussion justify-content-center">
                                <h2>Features of Container House:</h2>
                                <ul>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Weatherproof and
                                            leak-proof even under extreme climatic conditions</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Environment friendly</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Easy to reassemble</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Get them where you want
                                            them</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">All modern fixing
                                            possible including AC, fire alarms, smoke detectors etc.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">No Civil foundation
                                            required and more</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Durable with fabricated
                                            steel panels</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Appropriately insulated
                                            to bear extreme temperatures</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Built with advanced
                                            weatherproof materials</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="discussion-faq">
                            <div class="discussion justify-content-center">
                                <h2>Why choose our portable container homes?:</h2>
                                <p>The following are the reasons due to which you should give your container home office
                                    to us.</p>
                                <ul>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">It can be delivered in
                                            all corners of the country.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">These portable houses are
                                            safe and able to survive in all weather conditions</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">The design of the houses
                                            makes them easy to manage and provide a stylish look to the premise.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Container houses can act
                                            as additional and private space in the place.</li>
                                </ul>
                                <p>If you are also looking for a house that can offer you a private space, go for the
                                    Container houses. Order with us, and then we will do everything for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-section section-padding">
            <div class="container">
                <div class="section-title-s4">
                    <h2>Get a Quote Here</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="hs-responsive-embed-youtube"><iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60298.37866642666!2d73.0272286!3d19.1668503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bf6d15555555%3A0x487fb5a9cb4503d6!2sAscent%20Porta%20Solutions!5e0!3m2!1sen!2sin!4v1691150602636!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form mt-5">
                            <form method="post" id="contact-form" class="form row contact-validation-active">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="name">Full Name</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="phone">Phone No</label>
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="business">Message</label>
                                    <textarea class="form-control" name="message" cols="90" rows="5"></textarea>
                                </div>
                                <div class="col col-xs-12 submit-btn">
                                    <button type="submit">Submit</button>
                                    <div id="loader">
                                        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                                    </div>
                                </div>
                                <div class="error-handling-messages">
                                    <div id="success">Thank you</div>
                                    <div id="error"> Error occurred while sending email. Please try again later. </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>


        <section class="team-section section-padding">
            <div class="container">
                <div class="col col-lg-8 col-md-10">
                    <div class="section-title-s2">
                        <h2>Related Products</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="team-grids">
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Security Cabin">
                                </div>
                                <div class="member-info">
                                    <h4>Security Cabin</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Container House">
                                </div>
                                <div class="member-info">
                                    <h4>Container House</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Portable Toilet">
                                </div>
                                <div class="member-info">
                                    <h4>Portable Toilet</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Container Office">
                                </div>
                                <div class="member-info">
                                    <h4>Container Office</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
    </div>


    {{> footer }}