<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog &amp; - Asprefab</title>
    <meta name="description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <link rel="canonical" href="//www.asprefab.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portable Cabins Manufacturer in Mumbai, Maharashtra - Ascent Porta Solutions" />
    <meta property="og:description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <meta property="og:url" content="https://www.asprefab.com/" />
    <meta property="og:site_name" content="Ascent Porta Solutions" />
    <meta property="article:publisher" content="https://www.facebook.com/As-Prefab-LLP-818386148337061/" />
    <!-- / Yoast SEO plugin. -->

    <!-- Favicon and Touch Icons -->
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="shortcut icon" type="image/png">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="57x57">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="72x72">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="114x114">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="144x144">

    <!-- Icon fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/slick-theme.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


</head>

{{> navbar }}

    <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Portable Cabins Layouts</h2>
                        <p>Other designs are available on demand</p>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Portable Cabins Layouts</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start projects-section -->
        <section class="projects-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12 sortable-gallery">
                        <div class="gallery-container projects-grid">
                            <div class="grid business consulting">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="/images/layout.jpg" alt="layout">
                                    </div>
                                    <div class="details">
                                        <div class="details-inner">
                                            <ul>
                                                <li><a href="/images/layout.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid business finance">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="/images/layout.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="details-inner">
                                            <ul>
                                                <li><a href="/images/layout.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid events">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="/images/layout.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="details-inner">
                                            <ul>
                                                <li><a href="/images/layout.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid event finance consulting">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="/images/layout.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="details-inner">
                                            <ul>
                                                <li><a href="/images/layout.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid finance events business">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="/images/layout.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="details-inner">
                                            <ul>
                                                <li><a href="/images/layout.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid consulting finance business">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="/images/layout.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="details-inner">
                                            <ul>
                                                <li><a href="/images/layout.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid events consulting">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="/images/layout.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="details-inner">
                                            <ul>
                                                <li><a href="/images/layout.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid business finance">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="/images/layout.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="details-inner">
                                            <ul>
                                                <li><a href="/images/layout.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end projects-section -->

{{> footer }}