<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portable Security Cabins Design &amp; Manufacturer in Mumbai, India</title>
    <meta name="description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <link rel="canonical" href="//www.asprefab.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portable Cabins Manufacturer in Mumbai, Maharashtra - Ascent Porta Solutions" />
    <meta property="og:description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <meta property="og:url" content="https://www.asprefab.com/" />
    <meta property="og:site_name" content="Ascent Porta Solutions" />
    <meta property="article:publisher" content="https://www.facebook.com/As-Prefab-LLP-818386148337061/" />
    <!-- / Yoast SEO plugin. -->

    <!-- Favicon and Touch Icons -->
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="shortcut icon" type="image/png">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="57x57">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="72x72">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="114x114">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="144x144">

    <!-- Icon fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/slick-theme.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


</head>

<body class="security-cabin-manufacturer">

    {{> navbar }}

    <div class="page-wrapper">

        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Security Cabin Manufacturers in Mumbai, India</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Products</li>
                            <li>security-cabin-manufacturer</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <div class="section-padding">
            <div class="container">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title-s2">
                        <h2>Security Cabin</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <img src="/images/about/small-rooms-beach.jpg" alt="small rooms beach">
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <p class="mt-2">The main concern for all business locations and sites is security. A security
                            guard basically sits in a cabin that is itself a prefabricated structure. Prefabricated
                            Security Cabins are made to defend the site assets. Porta security cabins are used in
                            various locations for security maintenance purposes. It can be a security cabin for an
                            office, an apartment, or any place that you’d like your security guard to keep a watch over.
                        </p>

                        <P>Security Cabin is also known as guard huts & gatehouse cabins. Portable Security Cabins are
                            light in weight and easily customizable and it is designed especially to keep in mind about
                            the places that need to be monitored regularly. It comes in sizes of 6 X 4.5 X 7.5 and gives
                            ample space to the security guard to keep his belongings. It has applications in both
                            residential as well as commercial sectors.</P>
                    </div>
                </div>
            </div>
        </div>


        <section class="service-single-section mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="discussion-faq">
                            <div class="discussion justify-content-center">
                                <h2>Features and Facilities Of Security Cabins:</h2>
                                <ul>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Climate resistance.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Movable and easy to
                                            transport anywhere.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Corrosion resistance.
                                    </li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Modern and well-favored
                                            interior design.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Well-favored electrical
                                            wiring.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Best quality products as
                                            per ISO 9001.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Fire Protection
                                            (Optional).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="hs-responsive-embed-youtube"><iframe src="https://www.youtube.com/embed/UJi177q2XB4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-section section-padding">
            <div class="container">
                <div class="section-title-s4">
                    <h2>Get a Quote Here</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="hs-responsive-embed-youtube"><iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60298.37866642666!2d73.0272286!3d19.1668503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bf6d15555555%3A0x487fb5a9cb4503d6!2sAscent%20Porta%20Solutions!5e0!3m2!1sen!2sin!4v1691150602636!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form mt-5">
                            <form method="post" id="contact-form" class="form row contact-validation-active">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="name">Full Name</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="phone">Phone No</label>
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="business">Message</label>
                                    <textarea class="form-control" name="message" cols="90" rows="5"></textarea>
                                </div>
                                <div class="col col-xs-12 submit-btn">
                                    <button type="submit">Submit</button>
                                    <div id="loader">
                                        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                                    </div>
                                </div>
                                <div class="error-handling-messages">
                                    <div id="success">Thank you</div>
                                    <div id="error"> Error occurred while sending email. Please try again later. </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>



        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="discussion-faq">
                            <div class="discussion justify-content-center">
                                <h2>Features of Security Cabin</h2>
                                <ul>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Protected, safe and
                                            tough.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Longer working life and
                                            low maintenance cost.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Proper ventilation and
                                            durable finish standards.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Easy installation and
                                            affordable prices.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Manufactured by using
                                            hi-tech technology in terms with industry set standards.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Available in various
                                            specifications with modified options.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Eco-friendly and
                                            user-friendly.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">High quality and best
                                            performance.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Rust proof and water
                                            proof.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Weather Proof.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Light in Weight.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Anti-Corrosion.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="discussion-faq">
                            <div class="discussion justify-content-center">
                                <h2>Specification of Security Cabin</h2>
                                <ul>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Use of best quality metal
                                            sheet.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Use of best quality
                                            multi-color coating paint.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Use of glass window.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">High-grade metal sheets
                                            for base and roof.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Finished vertical and
                                            horizontal corners with aluminum.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Main entry door of
                                            security cabin.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Doors with locking
                                            arrangement.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Separate handles for both
                                            sides of the door.</li>
                                    <li><i class="fa fa-adjust"></i><span class="cabin-points">Vast variety of sizes and
                                            shapes.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="section-padding">
            <div class="container">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title-s2">
                        <h2>Why choose Ascent Porta Solutions?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <img src="/images/about/small-rooms-beach.jpg" alt="small rooms beach">
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <p class="mt-2">Ascent Porta Solutions offers a wide array of security cabins which include
                            cottage cabin, ticket stall, and much more. These cabins consist of good-looking finish, low
                            maintenance and so strong that they are suitable for a variety of uses.
                        </p>
                        <P>We have an expert workforce and high-tech manufacturing facilities. Our security cabins
                            possess a shelf-life that is unmatched from our competitors. We use the best quality
                            materials for manufacturing security cabins as per the customer requirement at a very
                            affordable price.</P>
                    </div>
                </div>
            </div>
        </div>

        <section class="team-section section-padding">
            <div class="container">
                <div class="col col-lg-8 col-md-10">
                    <div class="section-title-s2">
                        <h2>Related Products</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="team-grids">
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Security Cabin">
                                </div>
                                <div class="member-info">
                                    <h4>Security Cabin</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Container House">
                                </div>
                                <div class="member-info">
                                    <h4>Container House</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Portable Toilet">
                                </div>
                                <div class="member-info">
                                    <h4>Portable Toilet</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Container Office">
                                </div>
                                <div class="member-info">
                                    <h4>Container Office</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
    </div>


    {{> footer }}