<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Used Shipping Container, Used marine container Manufacturer in Mumbai</title>
    <meta name="description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <link rel="canonical" href="//www.asprefab.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portable Cabins Manufacturer in Mumbai, Maharashtra - Ascent Porta Solutions" />
    <meta property="og:description"
        content="Portable Cabins Manufacturer - Ascent Porta Solutions is the best manufacturer from Mumbai, Thane. We deliver timely with the best quality." />
    <meta property="og:url" content="https://www.asprefab.com/" />
    <meta property="og:site_name" content="Ascent Porta Solutions" />
    <meta property="article:publisher" content="https://www.facebook.com/As-Prefab-LLP-818386148337061/" />
    <!-- / Yoast SEO plugin. -->

    <!-- Favicon and Touch Icons -->
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="shortcut icon" type="image/png">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="57x57">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="72x72">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="114x114">
    <link href="images/home/logo/ascent-porta-logo.jpg" rel="apple-touch-icon" sizes="144x144">

    <!-- Icon fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/slick-theme.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


</head>

<body class="security-cabin-manufacturer">

    {{> navbar }}

    <div class="page-wrapper">
        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Used Shipping Container Manufacturers in Mumbai</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Products</li>
                            <li>used-shipping-container-for-sale</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <div class="section-padding">
            <div class="container">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title-s2">
                        <h2>Used Shipping Container</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <img src="/images/about/small-rooms-beach.jpg" alt="small rooms beach">
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <p class="mt-2">Ascent Porta Solutions engage in supplying a large amount of used Shipping
                            Container for sale and manufacture, Used marine container in Mumbai India. The offered
                            products is build using high-grade material. sourced from certified vendors in the industry.
                            Our products are fabricated using the best quality of raw materials. Which have been buying
                            from well-known vendors in the market. And are durable; hence they are high on demand in the
                            market. These are also known as used marine container. We are also manufacturing portable
                            cabin by using 8X40 Feet used containers.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <section class="section-padding">
            <div class="container">
                <div class="row news-grids">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="grid">
                            <div class="entry-body">
                                <div class="entry-header">
                                    <h3>Uses</h3>
                                </div>
                                <div class="entry-details">
                                    <p>Portable Toilets Dry Storage Site Office Portable Workshop Movable cold Storage
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="grid">
                            <div class="entry-body">
                                <div class="entry-header">
                                    <h3>Features</h3>
                                </div>
                                <div class="entry-details">
                                    <p>Maximum Strength Strong Structure Secure Weatherproof Easy to move Economic Price
                                        Corrosion resistant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="grid">
                            <div class="entry-body">
                                <div class="entry-header">
                                    <h3>Types</h3>
                                </div>
                                <div class="entry-details">
                                    <p>Dry Storage Container Open Top Container Flat Rack Container Refrigerated
                                        Container Tunnel container Tank Container</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="grid">
                            <div class="entry-body">
                                <div class="entry-header">
                                    <h3>Sizes</h3>
                                </div>
                                <div class="entry-details">
                                    <p>20′ GP (General Purpose) <br> 40′ GP (General Purpose) <br> 40′ HQ (High Cube)
                                        <br> Special Size on demand
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="section-padding">
            <div class="container">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title-s2">
                        <h2>Storage Containers</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <img src="/images/about/small-rooms-beach.jpg" alt="small rooms beach">
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <p class="mt-2">Portable storage containers come in a broad range of different types, and are
                            particularly useful as a way or either storing or transporting your items between and during
                            a move. There are also many other ways that you can make use of goods storage units. If you
                            choose to keep your storage units at a central location for safekeeping then you can use
                            them for a variety of different household items. They are generally very strong structure,
                            Durable meaning that you can keep certain items in storage.
                        </p>
                        <p>Some popular items for lightweight containers include seasonal items, like holiday
                            decorations that will only use one per year and take up valuable space in your home. Through
                            the most common reason for using this container, you can keep them away and safe Also you
                            can make a portable office cabin from this container. Ascent Porta Solutions is one of the
                            leading suppliers of storage container in Mumbai.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-padding">
            <div class="container">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title-s2">
                        <h2>Storage Rack Container</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <img src="/images/about/small-rooms-beach.jpg" alt="small rooms beach">
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <p class="mt-2">Storage Shipping Containers are secure and weatherproof, with a solid roof,
                            strong side walls, and rigid floor, having at one of its front wall made with doors with rod
                            lock which is best suitable for Industrial storage. This is by the most common type of
                            container. It is most suitable for the storing all types of dry goods, cement bags on site,
                            corrugated box, cartons, bags, wooden pallets, drums. Used shipping containers are standard
                            and re-usable. efficient, secure storage for movement of materials and products all over in
                            India. Also wearhousing is easy by using these storage containers.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="section-padding">
            <div class="container">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title-s2">
                        <h2>Used Shipping Container for Rent & Sale in Mumbai</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <img src="/images/about/small-rooms-beach.jpg" alt="small rooms beach">
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <p class="mt-2">We are a esteemed supplier of Marine Containers in Mumbai. Our Marine Containers
                            are on high demand by quality-conscious clients in industry at a very large scale. The Used
                            Marine Containers supplied by us are have excellent durability in economic price . We have
                            joint venture with many good manufacturers of best quality Marine Containers. These are
                            available with us in various types and sizes.
                        </p>
                        <p>
                            Marine containers is manufacture of the rigid steel with hardwood floors. They can be
                            mobilize and known for their safe storage in many applications. We have earned awesome
                            reputation amongst leading Marine Shipping Containers suppliers in India.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <section class="service-single-section mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="discussion-faq">
                            <div class="discussion justify-content-center">
                                <h2>Different sizes & features suitable for your needs:</h2>
                                <ul>
                                    <li><i class="fa fa-adjust"></i>20′ GP (General Purpose)</li>
                                    <li><i class="fa fa-adjust"></i>40′ GP (General Purpose)</li>
                                    <li><i class="fa fa-adjust"></i>40′ HQ (High Cube)</li>
                                    <li><i class="fa fa-adjust"></i>Special Size on demand</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="discussion-faq">
                            <div class="discussion justify-content-center">
                                <h2>Container Features:</h2>
                                <ul>
                                    <li><i class="fa fa-adjust"></i>Maximum Strength</li>
                                    <li><i class="fa fa-adjust"></i>Strong Structure</li>
                                    <li><i class="fa fa-adjust"></i>Excellent Durability</li>
                                    <li><i class="fa fa-adjust"></i>Secure</li>
                                    <li><i class="fa fa-adjust"></i>Weatherproof</li>
                                    <li><i class="fa fa-adjust"></i>Easy to move</li>
                                    <li><i class="fa fa-adjust"></i>Economic Price</li>
                                    <li><i class="fa fa-adjust"></i>Corrosion resistant</li>
                                    <li><i class="fa fa-adjust"></i>Cargo worthy</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-section section-padding">
            <div class="container">
                <div class="section-title-s4">
                    <h2>Get a Quote Here</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="hs-responsive-embed-youtube"><iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60298.37866642666!2d73.0272286!3d19.1668503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bf6d15555555%3A0x487fb5a9cb4503d6!2sAscent%20Porta%20Solutions!5e0!3m2!1sen!2sin!4v1691150602636!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form mt-5">
                            <form method="post" id="contact-form" class="form row contact-validation-active" autocomplete="off">
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                                    <textarea class="form-control" placeholder="Leave Message" name="message" cols="90"
                                        rows="5"></textarea>
                                </div>
                                <div class="col col-xs-12 submit-btn">
                                    <button type="submit">Submit</button>
                                    <div id="loader">
                                        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                                    </div>
                                </div>
                                <div class="error-handling-messages">
                                    <div id="success">Thank you</div>
                                    <div id="error"> Error occurred while sending email. Please try again later. </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>


        <section class="team-section section-padding">
            <div class="container">
                <div class="col col-lg-8 col-md-10">
                    <div class="section-title-s2">
                        <h2>Related Products</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="team-grids">
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Security Cabin">
                                </div>
                                <div class="member-info">
                                    <h4>Security Cabin</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Container House">
                                </div>
                                <div class="member-info">
                                    <h4>Container House</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Portable Toilet">
                                </div>
                                <div class="member-info">
                                    <h4>Portable Toilet</h4>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="member-pic">
                                    <img src="/images/about/small-rooms-beach.jpg" alt="Container Office">
                                </div>
                                <div class="member-info">
                                    <h4>Container Office</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
    </div>


    {{> footer }}